@import './base.css';

.color-primary {
  color: #34495E;
}

.btn-main {
  background: #34495E;
  padding: 0.4rem 1.6rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-main:hover {
  background: #243241;
}
.btn-action {
  background: #40b883;
  padding: 0.4rem 1.6rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
}
.btn-action:hover {
  background: #33956b;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  padding: .4rem 2rem;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-left: transparent;
}
nav {
  display: flex;

}

.myLogo {
  cursor: pointer;
}